@using BandWeb.Models
@model BandWeb.Models.ViewModels.GetArtistViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ArtistList";
}
<h2>ArtistList</h2>
<br />
<a class="a-iconhover" asp-controller="Artist" asp-action="ArtistForm">Add New Artist <span>+</span></a>
<table style="width:50%;">
    @if (Model.Artist.Count != 0)
    {
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Listeners</th>
        </tr>
        foreach (Artist art in Model.Artist)
        {
            <tr>
                <td>@art.id</td>
                <td style="text-align:center"><img src="@art.image_path" alt="@art.name" height="42" width="42"></td>
                <td> <a asp-controller="Artist" asp-action="Detail" asp-route-id="@art.id" class="AdName hvr-underline-from-center">@art.name</a></td>
                <td> <b>@art.description</b></td>
                <td>@art.listeners</td>
            </tr>
        }
    }
    else
    {
        <p>Geen artiesten gevonden :(</p>
    }
</table>

